<%- include('templates/header') %>
    <style>
        body {
            background-color: rgb(207, 230, 243);
        }
        
        .contact-clean {
            background: rgb(207, 230, 243);
            padding: 80px 0
        }
        
        @media (max-width:767px) {
            .contact-clean {
                padding: 20px 0
            }
        }
        
        .contact-clean form {
            max-width: 480px;
            width: 90%;
            margin: 0 auto;
            background-color: rgb(121, 141, 182);
            padding: 40px;
            border-radius: 4px;
            color: black;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
        }
        
        @media (max-width:767px) {
            .contact-clean form {
                padding: 30px
            }
        }
        
        .contact-clean h2 {
            margin-top: 5px;
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 36px;
            color: inherit
        }
        
        .contact-clean .form-group:last-child {
            margin-bottom: 5px
        }
        
        .contact-clean form .form-control {
            background: #fff;
            border-radius: 2px;
            box-shadow: 1px 1px 1px rgb(67, 113, 204);
            outline: none;
            color: inherit;
            padding-left: 12px;
            height: 42px
        }
        
        .contact-clean form .form-control:focus {
            border: 1px solid #b2b2b2
        }
        
        .contact-clean form textarea.form-control {
            min-height: 100px;
            max-height: 260px;
            padding-top: 10px;
            resize: vertical;
            resize: none
        }
        
        .contact-clean form .btn {
            padding: 16px 32px;
            border: none;
            background: none;
            box-shadow: none;
            text-shadow: none;
            opacity: 0.9;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 0.4px;
            line-height: 1;
            outline: none !important
        }
        
        .contact-clean form .btn:hover {
            opacity: 1
        }
        
        .contact-clean form .btn:active {
            transform: translateY(1px)
        }
        
        .contact-clean form .btn-primary {
            background-color: #0275d8;
            margin-top: 15px;
            color: #fff
        }
    </style>
    </head>

    <body>
        <div class="contact-clean">
            <form action="/contact" method="POST" autocomplete="off">
                <h2 class="text-center" style="color: white;">Contáctanos</h2>
                <div class="form-group"><input class="form-control" type="text" maxlength="28" name="nickname" <% if(user!=undefined){ %> style="font-weight: bold;" value=
                    <%= user.nickname %>
                        <% } %> placeholder="Nickname" required></div>
                <br/>
                <div class="form-group"><input class="form-control" type="email" maxlength="128" name="email" placeholder="Email" required></div>
                <br/>
                <div class="form-group"><textarea class="form-control" name="message" maxlength="256" placeholder="Mensaje" rows="14" required></textarea></div>
                <br/>
                <div class="form-group"><button class="btn btn-primary" type="submit">Enviar</button></div>
            </form>
        </div>

        <script src="./socket.io/socket.io.js" charset="utf-8"></script>

        <%- include('templates/footer') %>