<%- include('templates/header') %>
    <link rel="stylesheet" type="text/css" href="./css/body.css" />
    </head>

    <body>

        <% if(info.length > 0 && info[0].messageType == 0){  %>
            <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                <strong class="mx-2"><%= info[0].message %></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <% } %>
                <% if(info.length > 0 && info[0].messageType == 1){  %>
                    <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
                        <strong class="mx-2"><%= info[0].message %></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    <% } %>

                        <div id="slide-show">
                            <h2 style="text-align: center; color: #0275d8 ; font-weight: bold;">Categorías</h2>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(1)">Biología</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(2)">Ecología</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(3)">Geografía</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(4)">Historia</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(5)">Inglés</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(6)">Literatura</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(7)">Química</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(8)">Matemáticas</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(9)">Tecnología</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block categoria" onclick="showCategorie(10)">Otros</button>
                        </div>

                        <div class="container-lg" id="body-show">
                            <div class="my-custom-scrollbar my-custom-scrollbar-primary">
                                <div class="wrapper">
                                    <% for(let i = 0; i < trivias.length; i++) {%>
                                        <div class="card trivia" style="width: 18rem;" title="Trivia">
                                            <img class="card-img-top" src="./img/logo.png" alt="Trivia">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <strong style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><%= trivias[i].name %></strong>
                                                </h5>
                                                <p class="card-text">Autor:
                                                    <%= trivias[i].author %>
                                                        <br/> Categoría:
                                                        <%= trivias[i].categorie %>
                                                            <br/> <b <% if(trivias[i].dificult=="Muy fácil" ){ %> style="color:blue" <% } %>  
                                                                 <% if(trivias[i].dificult=="Fácil" ){ %> style="color:lime" <% } %>
                                                                 <% if(trivias[i].dificult=="Media" ){ %> style="color:yellow" <% } %>
                                                                 <% if(trivias[i].dificult=="Difícil" ){ %> style="color:red" <% } %>
                                                              > Dificultad:
                                                        <%= trivias[i].dificult %>
                                                            </b>
                                                            <br/> Número de preguntas:
                                                            <%= trivias[i].no_questions %>
                                                </p>
                                                <form action="/trivia" method="POST">
                                                    <input type="hidden" name="triviaID" id="triviaID" value=<%=trivias[i].id%> >
                                                    <input type="submit" class="btn btn-primary trvia-button" style="width: 100%; position:absolute;bottom:0;left: 0;" title="Jugar esta trivia" value="Jugar">
                                                </form>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Wrapper end -->
                            </div>
                        </div>

                        <script src="./socket.io/socket.io.js" charset="utf-8"></script>

                        <!-- Firebase & Firestore BEGIN -->
                        <script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js"></script>
                        <script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-firestore.js"></script>
                        <!-- Firebase & Firestore END -->

                        <script src="./js/index.js" charset="utf-8"></script>

                        <%- include('templates/footer') %>