<%- include('templates/header') %>
    </head>

    <% if(info.length > 0 && info[0].messageType == 0){ %>
        <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
            El usuario <strong class="mx-2"><%= info[0].message %></strong> se ha creado registrado correctamente :)
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <% } %>
            <% if(info.length > 0 && info[0].messageType == 1){  %>
                <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
                    <strong class="mx-2"><%= info[0].message %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                <% } %>

                    <body>
                        <div class="container">
                            <img src="img/logo.png" width="240px">
                            <section id="content">
                                <form action="/login" method="POST" autocomplete="off">
                                    <h1>Inicio de sesión</h1>
                                    <div>
                                        <input type="text" placeholder="Nickname" required="" id="username" name="nickname" maxlength="28" />
                                    </div>
                                    <div>
                                        <input type="password" placeholder="Contraseña" required="" id="password" name="password" maxlength="128" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Iniciar sesión" />
                                        <a href="/register" title="Rregistrarse">Registrarse</a>
                                    </div>
                                </form>
                                <!-- form -->

                            </section>
                            <!-- content -->
                        </div>
                        <!-- container -->

                        <!-- Firebase & Firestore BEGIN -->
                        <script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js"></script>
                        <script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-firestore.js"></script>
                        <!-- Firebase & Firestore END -->
                        <%- include('templates/footer') %>