<%- include('templates/header') %>
    <link rel="stylesheet" type="text/css" href="./css/maker.css" />
    </head>

    <body>

        <div class="card" id="canvas">
            <h1 style="font-weight: bold; text-align: center;">Crea tu trivia</h1>
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref" style="font-weight: bold;">Categoría</label>
            <select class="custom-select my-1 mr-sm-2" id="categorie">
                <option value="10" selected>Seleccionar...</option>
                <option value="1">Biología</option>
                <option value="2">Ecología</option>
                <option value="3">Geografía</option>
                <option value="4">Historia</option>
                <option value="5">Inglés</option>
                <option value="6">Literatura</option>
                <option value="7">Química</option>
                <option value="8">Matemáticas</option>
                <option value="9">Tecnología</option>
                <option value="10">Otros</option>
            </select>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-3 pt-0" style="font-weight: bold;">Dificultad:</legend>
                    <div class="col-sm-10">
                        <div class="form-check" style="color: blue; font-weight: bold;">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="1" checked>
                            <label class="form-check-label" for="gridRadios1">
                        Muy fácil (Temas de educación elemental)
                      </label>
                        </div>
                        <div class="form-check" style="color: green; font-weight: bold;">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="2">
                            <label class="form-check-label" for="gridRadios2">
                        Fácil (Temas de educación básica)
                      </label>
                        </div>
                        <div class="form-check" style="color: orange; font-weight: bold;">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="3">
                            <label class="form-check-label" for="gridRadios3">
                        Medio (Temas de educación Media)
                      </label>
                        </div>
                        <div class="form-check" style="color: red; font-weight: bold;">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="4">
                            <label class="form-check-label" for="gridRadios4">
                        Difícil (Temas de educación superior)
                      </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref" style="font-weight: bold;">Límite de tiempo por pregunta</label>
            <select class="custom-select my-1 mr-sm-2" id="time">
                <option value="20" selected>Seleccionar...</option>
                <option value="20">20 segundos</option>
                <option value="30">30 segundos</option>
            </select>
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref" style="font-weight: bold;">Cantidad de preguntas</label>
            <select class="custom-select my-1 mr-sm-2" id="questions">
                <option value="5" selected>5</option>
                <% for(let i = 6; i <= 15; i++){ %> 
                    <option value="<%= i %> "> <%= i %> </option>
                <% } %>
            </select>
            <br/>
            <button class="btn btn-primary btn-lg" onclick="start()" style="margin-top: 6px;">Continuar</button>
        </div>

        <script src="./socket.io/socket.io.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="./js/maker.js" charset="utf-8"></script>

        <%- include('templates/footer') %>