<%- include('templates/header') %>
    </head>

    <% if (trivias) { %>
        <table class="table-responsive table-bordered table-striped mb-0 table table-hover" style="background-color: white; font-size: 120%;">
            <thead>
                <!-- Table head -->
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de la trivia</th>
                    <th scope="col">Dificultad</th>
                    <th scope="col">Número de preguntas</th>
                    <th scope="col">Tiempo por pregunta</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table body -->
                <% for(let i = 0; i < trivias.length; i++) {%>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= trivias[i].name %>
                        </td>
                        <td <% if(trivias[i].dificult=="Muy fácil" ){ %> style="color:blue"
                            <% } %>
                                <% if(trivias[i].dificult=="Fácil" ){ %> style="color:lime"
                                    <% } %>
                                        <% if(trivias[i].dificult=="Media" ){ %> style="color:#DBA800;"
                                            <% } %>
                                                <% if(trivias[i].dificult=="Difícil" ){ %> style="color:red"
                                                    <% } %>>
                                                        <b><%= trivias[i].dificult %></b>
                        </td>
                        <td>
                            <%= trivias[i].no_questions %>
                        </td>
                        <td>
                            <%= trivias[i].time %>
                        </td>
                        <td>
                            <%= trivias[i].categorie %>
                        </td>
                        <td>
                            <form method="POST" action="/mytrivias">
                                <input id="triviaID" name="triviaID" type="hidden" value=<%=trivias[i].id%> >
                                <input type="submit" class="btn btn-danger" style="width: 100%;" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <% } else { %>
            <h1 style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%); color: #d9534f; font-family: cursive;">No has creado ninguna trivia aún...</h1>
            <% } %>

                <%- include('templates/footer') %>