<%- include('templates/header') %>
    <link rel="stylesheet" type="text/css" href="./css/profile.css" />
    </head>

    <body>

        <div class="card">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/1504719837987342440/AC5D4905FEF9165BA940E8FDE5CBB8D2CDB9DCB9/" style="width:100%">
            <h1>
                <%= user.nickname %>
            </h1>
            <p class="title">Nivel:
                <%= parseInt(user.level) %>
            </p>
            <p>Experiencia:
                <%= parseInt((user.level - parseInt(user.level)) * 100) %> / 100
            </p>
            <form method="GET" action="/mytrivias">
                <p><button class="btn btn-primary btn-lg">Ver mis trivias</button></p>
            </form>
        </div>

        <script src="./socket.io/socket.io.js" charset="utf-8"></script>

        <%- include('templates/footer') %>