<%- include('templates/header') %>
    </head>

    <table class="table table-bordered table-striped mb-0 table table-hover" style="background-color: whitesmoke; font-size: 124%;">
        <thead>
            <!-- Table head -->
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nickname</th>
                <th scope="col">Nivel</th>
                <th scope="col">Experiencia</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table body -->
            <% if (list != undefined && list.length > 0) { %>
                <% for(let i = 0; i < list.length; i++) {%>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= list[i].nickname %>
                        </td>
                        <td>
                            <%= parseInt(list[i].level) %>
                        </td>
                        <td>
                            <%= parseInt((list[i].level - parseInt(list[i].level)) * 100) %>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
        </tbody>
    </table>

    <script src="./socket.io/socket.io.js" charset="utf-8"></script>

    <%- include('templates/footer') %>