<%- include('templates/header') %>
    </head>

    <% if(info.length > 0 && info[0].messageType == 1){  %>
        <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
            <strong class="mx-2"><%= info[0].message %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <% } %>

            <body>
                <div class="container" style="margin-top: 100px;">
                    <!--img src="img/logo.png" width="240px"-->
                    <section id="content">
                        <form action="/register" method="POST" autocomplete="off">
                            <h1>Registro</h1>
                            <div>
                                <input type="text" placeholder="Nickname" maxlength="28" required="" id="nickname" name="nickname" />
                            </div>
                            <div>
                                <input type="password" pattern="^\S{6,}$" placeholder="Contraseña" required="" id="password" name="password" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'La contraseña debe tener al menos 6 carácteres.' : ''); if(this.checkValidity()) form.cpassword.pattern = this.value;"
                                    maxlength="128" />
                            </div>
                            <div>
                                <input type="password" pattern="^\S{6,}$" placeholder="Confirmar contraseña" required="" id="cpassword" name="cpassword" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Las contraseñas no coinciden.' : '');" maxlength="128" />
                            </div>
                            <div style="margin:auto" class="abs-center">
                                <input type="submit" value="Registrar" onclick="signIn()" id="btnRegister" />
                                <input type="button" value="Volver" onClick=" window.location.href='/login'; ">
                            </div>
                        </form>
                        <!-- form -->

                    </section>
                    <!-- content -->
                </div>
                <!-- container -->

                <!-- Firebase & Firestore BEGIN -->
                <script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js"></script>
                <script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-firestore.js"></script>
                <!-- Firebase & Firestore END -->

                <script src="./js/register.js"></script>

                <%- include('templates/footer') %>