<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Thot</title>
    <link rel="shortcut icon" href="./img/logo.png" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
    <link rel="stylesheet" type="text/css" href="./css/room.css" />
</head>

<body>

    <div id="canvas">
        <form id="form-room" style="height: 420px;" autocomplete="off">
            <div class="form-group">
                <h1>Thot</h1>
                <input type="text" id="code" class="form-control" maxlength="6" placeholder="Código del juego" style="font-size: 28px; text-align: center;height: 60px;" required>
                <input <% if(user) { %> type="hidden" value=
                <%= user.nickname %>
                    <% } else { %> type="text"
                        <% } %> id="nickname" class="form-control" maxlength="24" placeholder="Nickname" style="font-size: 28px; text-align: center; margin-top: 5px; height: 60px;" required>
                            <br/>
                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%; height: 50px;" onclick="joinRoom()">Ingresar</button>
                            <button type="button" class="btn btn-danger btn-lg" style="width: 100%; margin-top: 5px; height: 50px;" onclick=" window.location = '/';">Cancelar</button>
            </div>
        </form>

        <span class="d-block p-2 bg-primary text-white fixed-bottom" style="text-align: center; font-size: 110%; height: 30px;">Las raíces de la educación son amargas, pero la fruta es dulce (Aristoteles).</span>
    </div>

    <script src="./socket.io/socket.io.js" charset="utf-8"></script>
    <script src="./js/room.js" charset="utf-8"></script>

    <%- include('templates/footer') %>