<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Thot</title>
    <link rel="shortcut icon" href="./img/logo.png" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
    <link rel="stylesheet" type="text/css" href="./css/trivia.css" />
</head>

<body>

    <div id="canvas">
        <div class="form-group" style="width: 30%;height: 200px;margin-left: 35%;margin-top: 15%;">
            <input type="hidden" id="triviaID" value=<%=triviaID%> >
            <h1>Host</h1>
            <button class="btn btn-primary btn-lg" style="width: 100%; height: 50px;" onclick="hostDraw()">Crear sala</button>
            <button class="btn btn-danger btn-lg" style="width: 100%; height: 50px; margin-top: 10px;" onclick="window.location = '/';">Cancelar</button>
        </div>
    </div>

    <script src="./socket.io/socket.io.js" charset="utf-8"></script>
    <script src="./js/trivia.js" charset="utf-8"></script>

    <%- include('templates/footer') %>