html,
body {
    height: 100%;
    margin: 0px;
}

#body-show {
    float: right;
    width: 72%;
    margin-top: 2%;
    margin-right: 2.5%;
    height: 84%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(26, 45, 80, 0.25);
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    display: grid;
    max-width: 1400px;
    /*background-color: green;*/
    margin: 0 auto;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    justify-items: center;
    justify-content: center;
    align-content: center;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(121, 141, 182);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.trivia {
    text-align: center;
    /*font-family: Comic Sans MS, Comic Sans, cursive;*/
    font-size: 120%;
    background-color: rgb(0, 15, 122, 0.25);
    height: 300px;
    max-height: 360px;
    min-width: 200px;
    padding: 1%;
    border-radius: 5px;
    display: inline-block;
}

.categoria {
    /*background-color: rgb(23, 121, 78);*/
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    display: inline-block;
}

.trivia img {
    width: 30%;
    height: auto;
}

.trivia-button {
    width: 100%;
}

#slide-show {
    float: left;
    width: 20%;
    margin-top: 2%;
    margin-left: 2.5%;
    padding: 1%;
    height: 84%;
    background-color: rgb(26, 45, 80, 0.25);
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}