.card {
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
}

.card button {
    width: 100%;
}

.card-question {
    padding: 4%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
}

.card-question input {
    text-align: center;
    margin-bottom: 10px;
}

.card-question button {
    margin-top: 10px;
    border-color: white;
    display: inline-block;
    text-align: center;
}