* {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.9fr 0.9fr;
    gap: 10px 10px;
    grid-template-areas: "no-question information" "question-area question-area" "answer1 answer2" "answer3 answer4";
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 90%;
}

.question-area {
    grid-area: question-area;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 80px;
}

.answer1 {
    grid-area: answer1;
    width: 100%;
    height: 100%;
    display: flex;
}

.answer1 button {
    background-color: #0275d8;
}

.answer2 {
    grid-area: answer2;
    width: 100%;
    height: 100%;
    display: flex;
}

.answer2 button {
    background-color: #5cb85c;
}

.answer3 {
    grid-area: answer3;
    width: 100%;
    height: 100%;
    display: flex;
}

.answer3 button {
    background-color: #f0ad4e;
}

.answer4 {
    grid-area: answer4;
    width: 100%;
    height: 100%;
    display: flex;
}

.answer4 button {
    background-color: #d9534f;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    font-weight: bold;
}

.no-question {
    grid-area: no-question;
    width: 100%;
    height: 100%;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
}

.information {
    grid-area: information;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
}

h1 {
    color: black;
    padding: 5px;
    text-align: center;
    height: auto;
}

ul {
    width: 50%;
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    font-family: sans-serif;
    font-size: 160%;
    overflow-y: auto;
    height: 400px;
    max-height: 400px;
}

li {
    height: 40px;
    text-align: center;
}

.start {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 80px;
    margin-top: 10px;
    background-color: #0275d8;
}

table {
    height: 20px;
}