<!DOCTYPE html>
<html lang="es">

<head>

    <head>
        <meta charset="utf-8">
        <title>Thot</title>
        <link rel="shortcut icon" href="./img/logo.png" />
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./css/login.css" />
        <%- include('navbar') %>