<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #3561A2;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="text-decoration: none;font-size: 32px; font-family:Times New Roman, serif; font-weight: bold;" title="Ir a inicio">
            <img src="./img/logo.png" alt="" width="40" height="40" class="d-inline-block align-text-top"> Thot
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--
                <ul class="navbar-nav ms-auto">
                > The .mx-auto class can be used to align the items to the center of the navbar.
                > The .ms-auto class is used to align items to the right of the navbar.
                > The .me-auto class is used to align items to the left of that navbar. 
            -->
            <ul class="navbar-nav ms-auto" style="padding-top: auto;padding-bottom: auto;margin-top: auto;margin-bottom: auto; align-items: center;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/room" title="Unirse a una sala de trivia">Unirse a una trivia</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ranking" title="Ver ranking global">Ranking global</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact" title="Contáctanos">Contacto</a>
                </li>
                <% if(user == undefined){ %>
                    <li class="nav-item" id="user-session">
                        <a href="/login">
                            <button class="btn btn-success" title="Iniciar sesión">Iniciar sesión</button>
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/maker" title="Crear trivia">Crear trivia</a>
                        </li>
                        <li class="nav-item dropdown" style="margin-right: 30px; margin-left: 10px;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                                <strong><%= user.nickname %></strong>
                                <img src="https://steamuserimages-a.akamaihd.net/ugc/1504719837987342440/AC5D4905FEF9165BA940E8FDE5CBB8D2CDB9DCB9/" width="40" height="40" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/profile">Ver perfil</a>
                                <a class="dropdown-item" href="/mytrivias">Mis trivias</a>
                                <form action="/logout" method="post">
                                    <a class="dropdown-item" href="#"><input type="submit" value="Cerrar sesión"></a>
                                </form>
                            </div>
                        </li>
                        <% } %>
                            <!-- Avatar -->
            </ul>
        </div>
    </div>
</nav>